/* CSS HEX */
--space-indigo: #1f1e38ff;
--shadow-grey: #1d2130ff;
--golden-bronze: #cca847ff;
--midnight-violet: #201537ff;
--ink-black: #141824ff;

/* CSS HSL */
--space-indigo: hsla(242, 30%, 17%, 1);
--shadow-grey: hsla(227, 25%, 15%, 1);
--golden-bronze: hsla(44, 57%, 54%, 1);
--midnight-violet: hsla(259, 45%, 15%, 1);
--ink-black: hsla(225, 29%, 11%, 1);

/* SCSS HEX */
$space-indigo: #1f1e38ff;
$shadow-grey: #1d2130ff;
$golden-bronze: #cca847ff;
$midnight-violet: #201537ff;
$ink-black: #141824ff;

/* SCSS HSL */
$space-indigo: hsla(242, 30%, 17%, 1);
$shadow-grey: hsla(227, 25%, 15%, 1);
$golden-bronze: hsla(44, 57%, 54%, 1);
$midnight-violet: hsla(259, 45%, 15%, 1);
$ink-black: hsla(225, 29%, 11%, 1);

/* SCSS RGB */
$space-indigo: rgba(31, 30, 56, 1);
$shadow-grey: rgba(29, 33, 48, 1);
$golden-bronze: rgba(204, 168, 71, 1);
$midnight-violet: rgba(32, 21, 55, 1);
$ink-black: rgba(20, 24, 36, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1f1e38ff, #1d2130ff, #cca847ff, #201537ff, #141824ff);
$gradient-right: linear-gradient(90deg, #1f1e38ff, #1d2130ff, #cca847ff, #201537ff, #141824ff);
$gradient-bottom: linear-gradient(180deg, #1f1e38ff, #1d2130ff, #cca847ff, #201537ff, #141824ff);
$gradient-left: linear-gradient(270deg, #1f1e38ff, #1d2130ff, #cca847ff, #201537ff, #141824ff);
$gradient-top-right: linear-gradient(45deg, #1f1e38ff, #1d2130ff, #cca847ff, #201537ff, #141824ff);
$gradient-bottom-right: linear-gradient(135deg, #1f1e38ff, #1d2130ff, #cca847ff, #201537ff, #141824ff);
$gradient-top-left: linear-gradient(225deg, #1f1e38ff, #1d2130ff, #cca847ff, #201537ff, #141824ff);
$gradient-bottom-left: linear-gradient(315deg, #1f1e38ff, #1d2130ff, #cca847ff, #201537ff, #141824ff);
$gradient-radial: radial-gradient(#1f1e38ff, #1d2130ff, #cca847ff, #201537ff, #141824ff);